@page
@model AuthServer.Areas.Admin.Pages.Permissions.CreateModel

<h1>Create Permission</h1>

<form method="post">
    <div class="mb-3">
        <label class="form-label">Key</label>
        <input class="form-control" asp-for="Permission.Key" />
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <input class="form-control" asp-for="Permission.Description" />
    </div>
    <div class="mb-3">
        <label class="form-label">Group</label>
        <input class="form-control" asp-for="Permission.Group" />
    </div>
    <div class="mb-3">
        <label class="form-label">System</label>
        <input type="checkbox" class="form-check-input" asp-for="Permission.IsSystem" />
    </div>
    <button class="btn btn-primary" type="submit">Create</button>
    <a class="btn btn-secondary" asp-page="Index">Back</a>
</form>
