@page
@model AuthServer.Pages.IndexModel
@{
    ViewData["Title"] = "Auth Server";
}

<div class="container">
    <h1>Auth Server</h1>
    <p>React UI poskytuje přihlášení a registraci.</p>
    <p>
        <a href="/login">Login</a>
        <span> | </span>
        <a href="/register">Register</a>
    </p>
</div>
